# markdown

## markdown

insert site address

![site]()

In [3]:
x=10

In [4]:
y=5

In [5]:
x+y

15

In [6]:
name= "rohan"

In [7]:
age=19

In [8]:
print("my name is",name,"age is",age)

my name is rohan age is 19

In [1]:
x=int(input("enter value"))
y=int(input("enter value"))
print("x+y is",x+y,"x-y is",x-y,"x%y is",x%y,"x*y is",x*y)

enter value3
enter value2
x+y is 5 x-y is 1 x%y is 1 x*y is 6

In [2]:
s1="abcd"
s2="1234"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [3]:
i=532
print(type(1))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [5]:
a=str(123456)
print(len(a))

6

In [2]:
n1=100
a=b=c=20
a1,b1,c1=123,234,345
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
123 234 345

# operators
## arithmetic operators
- +
- - 
- *
- /
- %
- **
- //

In [4]:
x=34-2**5/4*5+16
print(x)

10.0

# Relational operators
- ==
- !=
- '>'
- <
- <=
- =>

In [5]:
a=10
b=5
print(a//b)
print(a%b)

2
0

# logical operators
- and
- or
- not

In [7]:
i=100
a1=(i>150 and i<40)
print(a1)

False

# membership operator
- in
- not in

In [8]:
str1="abc"
print("a" in str1)
print("a" not in str1)

True
False

# control flow statements
- conditional statements
- looping statements
- if else statements
  - syntax if condition
        statement(if)

In [14]:
# check given number is perfectly multiple of 3 and 5
n=int(input("enter a number"))
if n%3==0 and n%5==0:
    print("yes")
else:
    print("no")

enter a number15
yes

In [15]:
# check given number is positive,negative or zero
n=int(input("enter a number"))
if n>0=positive,n<0=negative:
     print("")

SyntaxError: invalid syntax (<ipython-input-15-1eea847f61dd>, line 3)